/* scrollbar for chrome */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    /* background-color: rgba(80,80,80,.2); */
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(180,180, 180,.2);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}
::-webkit-scrollbar-track:hover {
    background-color: rgba(150,150, 150,.2);
    -webkit-box-shadow: inset 0 0 6px rgba(123,123,123,.2);
}
::-webkit-scrollbar-track:active {
    background-color: rgba(150,150, 150,.2);
    -webkit-box-shadow: inset 0 0 6px rgba(123,123,123,.1);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(30,30,30,.5);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(30,30,30,.6);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(30,30,30,.7);
}
/* scrollbar for chrome end */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body,
.root,
.main {
    width: 100%;
    height: 100%;
}
html {
    font-size: 10px;
}
body {
    background: rgb(240, 240, 240);
}
body, input, select, button, textarea {
    font: 1.2rem/1 Arial, Helvetica, sans-serif, "microsoft yahei";
}
ul {
    list-style: none;
}
.iconfont {
    cursor: pointer;
}

/**
 * controls
 * ===============================================
 */
.controls {
    width: 100%;
    height: 3.5rem;
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    background-image: linear-gradient(#333, #444);
    padding: 0 1.5rem;
}
.controls .ctrl-item {
    float: left;
    color: #fff;
    line-height: 3.5rem;
    font-size: 1.8rem;
    margin-right:2rem;
    cursor: pointer;
}
.controls .ctrl-item .iconfont {
    margin-right: .3rem;
}

/**
 * main
 * ===============================================
 */
.main {
    display: flex;
    padding-top: 3.5rem;
}

/**
 * nav
 * ===============================================
 */
.nav {
    width: 13rem;
    background: #333;
    padding: 1rem 0 1rem 1rem;
}
.nav-list .nav-item {
    height: 3rem;
    line-height: 3rem;
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    transition: all .2s;
    position: relative;
}
.nav-list .nav-item span {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: .5rem;
}
.nav-list .nav-item:hover {
    background: rgba(30, 30, 30, .9);
    border-radius: .5rem 0 0 .5rem;
}
.nav-list .nav-item.active {
    background: rgb(240, 240, 240);
    border-radius: .5rem 0 0 .5rem;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .4);
    color: #333;
    cursor: default;
}
.nav-list .nav-item-del {
    position: absolute;
    right: 5px;
    top: 0px;
    display: none;
    font-size: 1rem;
    cursor: pointer;
}
.nav-list .nav-item:hover .nav-item-del {
    display: block;
}
.nav-list .nav-item-del {
    transition: transform .4s;
}
.nav-list .nav-item-del:hover {
    transform: rotate(360deg);
}


/**
 * list
 * ===============================================
 */
.list {
    flex: 4;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}
.ls-list {
    column-width: 25rem;
    column-gap: .5rem;
}
.list .ls-item,
.list .ls-item-add {
    width: 25rem;
    display: inline-block;
    border: .1rem solid #ccc;
    padding: .5rem;
    margin: .3rem 0;
    border-radius: .3rem;
    background: #fff;
    transition: all .2s;
}
.list .ls-item:hover,
.list .ls-item-add:hover {
    border-color: #faa;
    background: #fafafa;
}
.ls-list .header {
    overflow: hidden;
    position: relative;
}
.ls-list .title {
    font-weight: normal;
}
.ls-list .title i {
    vertical-align: middle;
    margin-right: .5rem;
}
.ls-list .iconfont {
    color:#999;
}
.ls-list .i-checked {
    display: none;
}
.ls-list .header .ctrl {
    position: absolute;
    right: 0;
    top:0;
    display: none;
}
.ls-list .header:hover .ctrl {
    display: block;
}
.ls-list .header .ctrl i {
    margin-left:.5rem;
    color:#000;
    opacity:.5;
}
.ls-list .header .ctrl i:hover {
    opacity:1;
}
.ls-list .ls-item.checked .i-checked {
    display: inline-block;
    color:#06960E;
}
.ls-list .ls-item.checked .i-no-check {
    display: none;
}
.ls-list .cont {
    width: 23rem;
    margin: .5rem;
    border: 1px solid #e7e7e7;
    padding: .5rem;
    color: #666;
    background: #efefef;
    transition: box-shadow .2s;
}
.ls-list .editing .cont {
    color: #333;
    background: #fff;
    outline: none;
    resize: vertical;
    height: 15rem;
}
.ls-list .editing .cont:focus {
    box-shadow: 0 0 5px rgba(50, 150, 138, .8);
}
.ls-list .ft {
    display: none;
    text-align: right;
}
.ls-list .ls-item.editing .ft {
    display: block;
}
.ls-list .ft span {
    cursor: pointer;
    margin-left:1rem;
    color:#666;
}
.ls-list .ft span:hover {
    color:#000;
}
.ls-list .editing-btn-apply .iconfont {
    color:#06960E;
}
.ls-list .editing-btn-cancel .iconfont {
    color:#c00;
    position: relative;
    top: 2px;
}
.list .ls-item-add {
    text-align: center;
    font-size:1.4rem;
    background:#e7e7e7;
    cursor: pointer;
}
.list .ls-item-btn-add i {
    position: relative;
    top:2px;
    color: #333;
    margin-right: .5rem;
}


/**
 * content
 * ===============================================
 */
.content {
    flex: 2;
    height: 100%;
    overflow: hidden;
}
.content .wrap {
    height: 100%;
    overflow-y: scroll;
    padding: 5px;
    background: #fff;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .3);
}

/**
 * mdal styles
 * ================================================
 */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.modal-container.active {
    display: block;
}
.modal-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    overflow: auto;
}

/**
 * mask
 */
.mask {
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: 998;
    background: rgba(0,0,0,.5);
    display: none;
}
.mask.active {
    display: block;
}

/**
 * dialog
 */
.dialog {
    position: relative;
    z-index: 999;
    margin: 100px auto;
    background:#fff;
    border-radius: .5rem;
    border: 1px solid #333;
    box-shadow: 0 0 15px rgba(0,0,0,.7);
    overflow: hidden;
}
.dialog .header {
    text-align:center;
    height:3rem;
    line-height: 3rem;
    font-size:1.8rem;
    background-image: linear-gradient(#fff, #e7e7e7);
}
.dialog .cont {
    padding: 1rem .5rem;
}
.dialog .footer {
    text-align: right;
    padding-right: .5rem;
    font-size:0;
    padding-bottom:.5rem;
}
.dialog-close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size:18px;
    cursor: pointer;
    transition: transform .4s;
}
.dialog-close:hover {
    transform: rotate(360deg);
}
.dialog-btn {
    display: inline-block;
    padding: .5rem 1rem;
    border: 1px solid #e7e7e7;
    font-size:1.4rem;
    margin-left:1rem;
    border-radius: .3rem;
    background-image: linear-gradient(#fefefe, #e7e7e7);
    cursor: pointer;
    text-shadow: 1px 1px 1px #fff;
    outline: none;
}
.dialog-btn:hover {
    background-image: linear-gradient(#fafafa, #cfcfcf);
}
.dialog-btn:active {
    background-image: linear-gradient(#e7e7e7, #efefef);
}
.dialog .form-group {
    margin-bottom:.5rem;
}
.dialog .form-group .group-header,
.dialog .form-group .group-control {
    margin-bottom: .5rem;
    font-size:1.4rem;
}
.dialog .form-group-inline {
}
.dialog .form-group-inline .group-header,
.dialog .form-group-inline .group-control {
    display:inline-block;
}
.dialog .form-group-inline .group-header {
    width: 100px;
    padding-right: .5rem;
    text-align: right;
    vertical-align: top;
    line-height: 28px;
}
.dialog .form-group input,
.dialog .form-group select,
.dialog .form-group .content {
    outline: none;
    padding: .5rem;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: .3rem;
}
.dialog .form-group input:focus,
.dialog .form-group select:focus,
.dialog .form-group .content:focus {
    box-shadow: inset 0 0 3px rgba(0,0,0,.3);
}

.modal-project-addnew input[type=text],
.modal-project-addnew .content {
    width: 280px;
}
.modal-project-addnew .content {
    height: 50px;
    resize: vertical;
}