<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hosts manager</title>
</head>
<body>
<div id="root" class="root"></div>
<% if(htmlWebpackPlugin.options.env !== 'dev') { %>
<script type="text/javascript">
  window.onerror = function (e) {
    alert(JSON.stringify(e))
  }
</script>
<script src="electron/hostsService.js"></script>
<% } %>
<div class="pwd-dialog hide">
  <div class="pwd-dialog-wrap">系统密码：<input type="password" class="txt-pwd"/></div>
</div>
</body>
</html>
