
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1472113948'); /* IE9*/
  src: url('iconfont.eot?t=1472113948#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1472113948') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1472113948') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1472113948#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shuaxin:before { content: "\e782"; }
.icon-guanbi1:before { content: "\e723"; }
.icon-jiahao1:before { content: "\e727"; }
.icon-yuanxingweixuanzhong:before { content: "\e72f"; }
.icon-yuanxingxuanzhong:before { content: "\e731"; }
.icon-fankui:before { content: "\e738"; }
.icon-xuanze:before { content: "\e72e"; }
.icon-jianhao:before { content: "\e729"; }
